

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  color: white;
  background-color: #313638;
  padding: 2rem 5rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar > ul {
  list-style-type: none;
  align-items: center;
}

.navRight {
  float: right;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 0rem;
}

.navLeft {
  float: left;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navLeft > li {
  font-size: large;
}

.hero {
  margin-top: 7em;
  background-color: #f5f5f5;
  padding: 0rem 0rem 0rem 5rem;
  display: flex;
  align-items: center;
  gap: 5em;
}

.heroImage {
  border-radius: 100px 0px 0px 100px;
  margin-bottom: 3em;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.5em;
  margin-top: -3em;
}

.heroText > h1 {
  color: #e85f5c;
  font-size: 3em;
}

.heroText > h3 {
  color: #6e6e70;
}

.divider {
  width: 100%;
  color: white;
  background-color: #313638;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.graySection {
  background-color: #f3f3f3;
  padding: 5rem;
}

.graySection > h1 {
  color: #e85f5c;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section {
  background-color: #ffffff;
  padding: 5rem;
}

.section > h1 {
  color: #e85f5c;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section > p {
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.wrapper {
  text-align: center;
}

.button {
  background-color: #e85f5c;
  font-size: 1.3rem;
  color: white;
  padding: 1em;
  border-width: 0;
  border-radius: 15px;
  margin: auto;
}

.navButton {
  background-color: #e85f5c;
  font-size: 1rem;
  color: white;
  padding: 1em;
  border-width: 0;
  border-radius: 15px;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 3em;
}

.footerLogo {
  float: left;
}

.footerIcons > div{
  margin-right: 10px;
}

.footerIcons{
  display: flex;
  flex-direction: row;
}


.footerButton {
  float: right;
  background-color: #e85f5c;
  font-size: 1rem;
  color: white;
  padding: 1em;
  border-width: 0;
  border-radius: 15px;
  margin-left: auto;
}

.footerButton:hover {
  background-color: #e8827e; 
  color: white;
}

.footerIcons {
  margin-right: auto;
  padding-left: 6em;
  position: relative;
  top: -2em;
}

