name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        working-directory: ./frontend
        run: npm install 
      - name: Lint files
        working-directory: ./frontend
        run: npm run lint
      - name: Build project
        working-directory: ./frontend
        run: npm run build